.table-container {
    height: 90vh;
    overflow: auto;
    padding: 0;
    font-size: 8pt;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 8pt;
    table-layout: fixed;
}

th {
    position: sticky;
    top: 0;
    background: white;
    text-align: center;
    height: 24px;
    padding: 0;
    border: 1px solid #ccc;
    font-weight: bold;
    z-index: 1;
    font-size: 8pt;
}

td {
    padding: 0;
    height: 24px;
    border: 1px solid #ccc;
    font-size: 8pt;
}

tr {
    height: 24px;
}

input {
    width: 100%;
    height: 24px;
    border: none;
    padding: 0 0 0 4px;
    margin: 0;
    box-sizing: border-box;
    font-size: 8pt;
}

input:focus {
    outline: none;
    background-color: #f0f0f0;
}

/*  ------------------------ */

/* Row number */
th:nth-child(1),
td:nth-child(1) {
    width: 50px;
    text-align: center;
    color: #888;
}


/* IMO Column */
th:nth-child(2),
td:nth-child(2) {
    width: 52px;
    background-color: #f5f5f5;
}

th:nth-child(2),
td:nth-child(2) input {
    background-color: #f5f5f5;
}

/* Slightly darker when focused */
td:nth-child(2) input:focus {
    background-color: #e8e8e8;
}

/* Result  */
th:nth-child(3),
td:nth-child(3) {
    width: 25px;
}

/* Fleet */
th:nth-child(4),
td:nth-child(4) {
    width: 90px;
}

/* Response */
th:nth-child(5),
td:nth-child(5) {
    width: 200px;
    padding-left: 4px;
}

/* URL */
th:nth-child(6),
td:nth-child(6) {
    padding-left: 4px;
}

/*  ------------------------ */
/* Top of page */
.actions-row {
    position: relative;
    display: flex;
    gap: 8px;
}

mat-expansion-panel {
    margin-bottom: 1rem;
}

/* Result Icons */
.success-icon {
    color: #4CAF50;
}

.error-icon {
    color: #f44336;
}

.thin-panel {
    .mat-expansion-panel-header {
        height: 40px;
        /* Reduced from default 48px */
    }

    .mat-expansion-panel-header-title {
        margin: 0;
        font-size: 14px;
    }
}

.reset-button {
    margin-left: auto;
    /* This pushes the button to the right */
}

.light-red-button {
    background-color: #ffcdd2 !important;
    /* Light red color */
    color: #d32f2f !important;
    /* Darker red for text contrast */
}

.light-red-button:hover {
    background-color: #ef9a9a !important;
    /* Slightly darker on hover */
}